<app-side-nav></app-side-nav>
<app-task-editor></app-task-editor>
<!-- Start Welcome area -->
<div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
        <div class="col-sm-6">
            <div class="page-header">
                <div class="page-title-left">
                    <img src="assets/images/teacher/teacher-icon.png">
                    <h2>Teacher Account</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <div class="page-title-right">
                    <h2>Welcome Back <span>{{user | titlecase}}!</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <!-- ======= Hero Section ======= -->
        <section id="pricing" class="pricing carousel" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="section-header">
                <h2>Flexible Plans & Pricing</h2>
                <h5>Choose your best Plan!</h5>
                <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
            </div>
            <div class="col-6 text-right">
                <a class="btn mb-3 mr-1" style="background: #0a576c !important; color: #fff; cursor: pointer;" href="#pricing" (click)="prev()" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn mb-3 " style="background: #0a576c !important; color: #fff; " href="#pricing" role="button" (click)="next()" data-slide="next">
                    <i class="fa fa-arrow-right" style="cursor: pointer;"></i>
                </a>
            </div>
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" (mouseenter)="getIndex(0)" (mouseleave)="getIndex(0)" data-aos="fade-up" data-aos-delay="200">
                            <label for="a" class="featured">
                                <input type="radio" name="letter" id="a" [class.span]="currentCardIndex==0" [checked]="currentCardIndex==0"  checked>
                                <div class="box featured span">
                                    <div class="section10" style="color: red;">
                                        <h3>BASIC</h3>
                                        <h4 class="boder"></h4>
                                    </div>
                                    <h4>50<sup>$</sup><span class="back">/</span><span> <strong>month</strong></span>
                                    </h4>
                                    <div class="STANDARD mt-5">
                                        <ul>
                                            <li><span>● </span> <strong>Courses Allowed</strong></li>
                                            <li><i class="fa fa-check"></i> Free Open Courses <span
                                                    class="right">10</span></li>
                                            <li><i class="fa fa-check"></i> Paid Open Courses <span
                                                    class="right">05</span></li>
                                            <li><i class="fa fa-check"></i> Close Courses <span class="right">03</span>
                                            </li>
                                            <li><span>● </span> <strong>Invite Students</strong> <span
                                                    class="right"><strong>100</strong></span></li>
                                            <li><span>● </span> <strong>Space</strong> <span class="right"><strong>10
                                                        GB</strong></span></li>
                                        </ul>
                                    </div>
                                    <div class="count-box span1" [class.span]="currentCardIndex==0">
                                        <a class="btn-buy20" (click)="subscription(1)">Get Started</a>
                                    </div>
                                </div>
                            </label>
                        </div>

                        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" (mouseenter)="getIndex(1)" (mouseleave)="getIndex(1)" data-aos="fade-up" data-aos-delay="200">
                            <label for="b" class="featured">
                                <input type="radio" name="letter" id="b"  [checked]="currentCardIndex==1" >
                                <div class="featured box  span"[class.span]="currentCardIndex==1">
                                    <div class="section10" style="color: red;">
                                        <h3>STANDARD</h3>
                                        <h4 class="boder"></h4>
                                    </div>
                                    <h4>100<sup>$</sup><span class="back">/</span><span> <strong>month</strong></span>
                                    </h4>
                                    <div class="STANDARD mt-5">
                                        <ul>
                                            <li><span>● </span> <strong>Courses Allowed</strong></li>
                                            <li><i class="fa fa-check"></i> Free Open Courses <span
                                                    class="right">10</span></li>
                                            <li><i class="fa fa-check"></i> Paid Open Courses <span
                                                    class="right">05</span></li>
                                            <li><i class="fa fa-check"></i> Close Courses <span class="right">03</span>
                                            </li>
                                            <li><span>● </span> <strong>Invite Students</strong> <span
                                                    class="right"><strong>100</strong></span></li>
                                            <li><span>● </span> <strong>Space</strong> <span class="right"><strong>10
                                                        GB</strong></span></li>
                                        </ul>
                                    </div>
                                    <div class="count-box">
                                        <a class="btn-buy20"(click)="subscription(2)">Get Started</a>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" (mouseenter)="getIndex(2)" (mouseleave)="getIndex(2)" data-aos="fade-up" data-aos-delay="200">
                            <label for="c" class="featured">
                                <input type="radio" name="letter" id="c"  [checked]="currentCardIndex==2">
                                <div class="featured box  span"[class.span]="currentCardIndex==2">
                                    <div class="section10" style="color: red;">
                                        <h3>PROFESSIONAL</h3>
                                        <h4 class="boder"></h4>
                                    </div>
                                    <h4>200<sup>$</sup><span class="back">/</span><span> <strong>month</strong></span>
                                    </h4>
                                    <div class="STANDARD mt-5">
                                        <ul>
                                            <li><span>● </span> <strong>Courses Allowed</strong></li>
                                            <li><i class="fa fa-check"></i> Free Open Courses <span
                                                    class="right">10</span></li>
                                            <li><i class="fa fa-check"></i> Paid Open Courses <span
                                                    class="right">05</span></li>
                                            <li><i class="fa fa-check"></i> Close Courses <span class="right">03</span>
                                            </li>
                                            <li><span>● </span> <strong>Invite Students</strong> <span
                                                    class="right"><strong>100</strong></span></li>
                                            <li><span>● </span> <strong>Space</strong> <span class="right"><strong>10
                                                        GB</strong></span></li>
                                        </ul>
                                    </div>
                                    <div class="count-box">
                                        <a class="btn-buy20" (click)="subscription(3)">Get Started</a>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- End pricing Section -->

    </div>
</div>