<div class="main-header">
    <div class="container-fluid d-flex">
        <div id="main-header">
            <input id="nav-toggle" type="checkbox">
            <div class="logo"><a href="index.html">
                    <img src="assets/img/logo.png">
                </a></div>
            <ul class="links">

                <li class="active"><a routerLink="/register" style="background-color: #008ad2;"><i
                            class="fa fa-user"></i>Register</a></li>
                <li><a routerLink="/login" style="color: #000;"><i class="fa fa-user"></i>Login</a></li>

            </ul>
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </div>
    </div>
</div>

<div class="register-section">
    <div class="container mr-auto text-center">

        <!--<a href="index.html">
            <img src="assets/img/logo.png" style="margin-top: 25px;">
        </a>-->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="register-form">

                    <div class="register-top">
                        <span>Create Free Account</span>
                    </div>
                    <div class="register-top-heading">
                        <h1>
                            <a href="">Sign up</a>
                        </h1>
                    </div>

                    <form [formGroup]="registerForm">

                        <div class="wrapper_register">
                            <input type="radio" id="option-1" (change)="validateData()" formControlName="remember"
                                value="student" checked>
                            <input type="radio" id="option-2" (change)="validateData()" formControlName="remember"
                                value="teacher">
                            <label for="option-1" class="option option-1">
                                <div class="dot"></div>
                                <span>As A Student</span>
                            </label>
                            <label for="option-2" class="option option-2">
                                <div class="dot"></div>
                                <span>As A Teacher</span>
                            </label>
                        </div>

                        <div class="social-top-section" [attr.disabled]="social ? true : null">
                            <div class="google-left" (click)="signInWithGoogle()">
                                <a><img src="assets/img/icons/google.png">Sign Up With<span>Google</span></a>
                            </div>
                            <div class="facebook-right" (click)="signInWithFB()">
                                <a><img src="assets/img/icons/facebook.png">Sign
                                    Up With <span>Facebook</span></a>
                            </div>
                            <h6>OR</h6>
                        </div>
                        <div class="form-group">
                            <label for="username">User Name :
                                <span class="required-asterisk">*</span>
                            </label>
                            <input type="text" class="form-control" id="username" placeholder="abc"
                                formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <img src="assets/images/icons/user-icon.png"
                                style="float: right; margin-right:10px;margin-top:-35px; width: 21px;">
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">User Name is required</div>
                                <div *ngIf="f.username.errors.maxlength">User name should be only 25 characters</div>
                                <div *ngIf="f.email.errors.pattern">Only Special Character is Not Allowed </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">EMAIL :
                                <span class="required-asterisk">*</span>
                            </label>
                            <input type="text" class="form-control" id="email" placeholder="email@1234.com"
                                formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <img src="assets/images/icons/email-icon.png" style="float: right; margin-top:-40px;">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf=" registerForm.get('email').hasError('pattern')"
                                    style=" color:#dc3545; font-size: 12px;" padding>*Please enter correct e-mail
                                    address</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">CREATE PASSWORD :
                                <span class="required-asterisk">*</span>
                            </label>
                            <input type="password" class="form-control" placeholder="******" formControlName="pwd"
                                [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }">
                            <img src="assets/images/icons/lock.png" style="float: right; margin-top:-45px;">
                            <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
                                <div *ngIf="f.pwd.errors.required">Password is required</div>
                                <div *ngIf="f.pwd.errors.minlength">Password must be at least 3 characters</div>
                                <!-- <div *ngIf="f.pwd.errors.maxlength">Password should be only 3 characters</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">CONFIRM PASSWORD :
                                <span class="required-asterisk">*</span>
                            </label>
                            <input type="password" class="form-control" placeholder="******"
                                formControlName="confirm_password"
                                [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }"> <img
                                src="assets/images/icons/lock.png" style="float: right; margin-top:-45px;">
                            <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                <div *ngIf="f.confirm_password.errors.required">Password is required</div>
                                <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password
                                    must be match.</div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1"
                                (change)="updateStatus($event)" formControlName="checkbox" [(ngModel)]="isDisableds">
                            <label class="custom-control-label" for="customCheck1"><span>I agree to the lingolista's <a
                                        routerLink="/term_condition">Terms & Conditions</a>&nbsp;<span
                                        style="color: black;">and</span>&nbsp;<a routerLink="/privacy_policy">Privacy
                                        Policy</a></span></label>
                        </div>
                        <p class="text-danger" *ngIf="ErrMsg">{{ErrMsg}}</p>
                        <!-- <p class="text-danger" *ngIf="isDisabled">{{ErrMsg}}</p> -->
                        <p *ngIf="errrMsg" style="color: green;">{{errrMsg}}</p>
                        <p *ngIf="socialErr" style="color: red; text-align: center;">{{socialErr}}</p>

                        <div class="row">
                            <div class="register-btn">
                                <button id="register-btn" type="submit" [disabled]="!isDisableds"
                                    (click)="register()">Join Lingolista <i class="fa fa-spinner fa-spin loder-color"
                                        style="font-size:10px" *ngIf="mainpageLoder"></i></button>
                            </div>
                        </div>

                    </form>

                    <div class="row">
                        <div class="footer-text-1">
                            <hr>
                            <p>Already have an account? <a routerLink="/login"
                                    style="color: #136980;font-weight: bold;">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3"></div>

    </div>
</div>
<div id="invitesuccess" class="modal deletetest-modal" role="dialog" #loginFail>
    <div class="modal-dialog pswrd-popup">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-12 pop-show mt-5 mb-5">
                    <h5>'Google Login Failed', <br>
                        'The Google Login failed. Please make sure that 3rd party cookies have not been blocked.');</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>