<div class="main-header">
    <div class="container-fluid d-flex">
      <div id="main-header">
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><a href="index.html">
          <img src="assets/img/logo.png">
        </a></div>
        <ul class="links">
        
            <li class="active"><a routerLink="/register" style="background-color: #008ad2;"><i class="fa fa-user" ></i>Register</a></li>
            <li class="active" ><a routerLink="/login" style="background-color: #008ad2;"><i class="fa fa-user"></i>Login</a></li>
       
        </ul>
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
    </div>
    </div>
  </div>
<div class="login-section">
    <div class="container mr-auto text-center">
        <!-- <a href="index.html">
            <img src="assets/img/logo.png" style="margin-top: 25px;">
        </a> -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="forget-form">
                    <div class="forgot-top">
                        <h1>
                        Forget Password
                        </h1>
                    </div>  
                    <div class="col text-center mt-5 mb-5" *ngIf="mainpageLoder ">
                        <i class="fa fa-spinner fa-spin loder-color" style="font-size:50px"></i>
                      </div>
                    <form [formGroup]="forgetPasswordForm" *ngIf="!mainpageLoder">
                        <div class="form-group">
                            <label for="email">Email :
                                <span class="required-asterisk">*</span>
                            </label>
                            <input type="email" class="form-control" id="email" placeholder="abc@gmail.com"
                                formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <img src="assets/images/icons/email-icon.png" style="float: right; margin-top:-40px;">
                                <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf=" forgetPasswordForm.get('email').hasError('pattern')" style=" color:#dc3545; font-size: 12px;" padding>*Please enter correct e-mail address</div>

                                </div> -->
                        </div>   
                        <p *ngIf="Msg" style="color: #136980;"><b>{{Msg}}</b></p>
                                      
                        <button type="submit" class="login-btn" (click)="forgetPassword()">Send Mail</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>