.main {
    height: calc(500px + 314px) !important;
}

.back {
    float: right;
    width: 78px;
    height: 40px;
    background-color: #008ad2;
    font-size: 12px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 10px;
}

.task-images ul li span {
    background-color: #18af14;
    width: 180px;
    height: 40px;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    padding: 0px 15px;
    margin-left: 50px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: 'Poppins Medium';
    color: #ffffff;
    font-weight: 400;
    color: #fff;
    bottom: 30px;
}

.task-images ul li {
    list-style: none;
    display: flex;
    width: 280px;
    align-items: center;
    height: 225px;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}

.task-images ul li #worng-drag {
    background-color: #ed3c0c;
}

.task-images {
    max-width: 100%;
    height: auto;
    position: relative;
    padding-top: 20px;
    display: flex;
}

.task-images ul li i {
    float: right;
    margin: 12px 0px;
    font-size: 13px;
}