<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
    
    <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Logo"></a>
    
    </div>
    
    <div id="main-menu" class="main-menu collapse navbar-collapse">
    <ul class="nav navbar-nav">
    <h3 class="menu-title">
    <a href="">Add Course</a></h3>
    
    <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View Course</a>
    </li>
    
    <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accept Course page</a>
    </li>
    <li class=" active menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Selected Course</a>
    <ul class="sub-menu children dropdown-menu">
    <li><a href="">Topic Title 1</a></li>
    <li><a href="">Topic Title 2</a></li>
    <li><a href="">Topic Title 3</a></li>
    <li><a href="">Topic Title 4</a></li>
    <li><a href="">Topic Title 5</a></li>
    </ul>
    </li>
    <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
    </li>
    <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wallet</a>
    </li>
    <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Review</a>
    </li>
    </ul>
    </div>
    </nav>
    </aside>

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">
    
            <div class="col-sm-9">
                <div class="header-top-menu tabl-d-n hd-search-rp">
                    <div class="breadcome-search">
                        <form role="search" class="search">
                            <input type="text" placeholder="SEARCH" class="form-control " id="search">
                                <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="user-area dropdown">
                  <ul>
                    <li>
                      <a href="">Marckus<i class="fa fa-angle-down"></i><br>
                        <p style="color: #000000; font-size: 15px; margin-top: -8px; margin-left: -10px;">
    
                           <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16" style="fill:#000000; font-weight: bold;">
                          <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
                        </svg>
                        <span style="font-size: 12px; color: #136980;  margin-left: -10px;">$120 </span>USD</p>
                      </a>
                    </li>
                      <li>
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar" src="../assets/images/student-profile.jpg">
                          </a>
                     </li>
                     <li>
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-power-off" style="margin-top: -40px;"></span>
                        </a>
                     </li>
                  </ul>
                   
                </div>                  
            </div>
        </div>
    
    </header>
    <div class="breadcrumbs">
        <div class="col-sm-6">
            <div class="page-header float-left">
                <div class="page-title-left">
                    <img src="assets/images/teacher/teacher-icon.png">
                    <h2>Teacher Account</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header float-right">
                <div class="page-title-right">
                    <h2>Welcome Back <span>markus!</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-height">
        <div class="dashboard">
            <div class="row">

                <div class="col-md-9">
                    <div class="component-heading">
                        <div class="row">
                            <div class="col-md-8 text-left">
                                <h1>German <span style="color: #008ad2;">B2</span></h1>
                                <hr>
                                <p>German B2 > Topic 3 > <span style="color:#008ad2; ">Exercises</span> </p>
                            </div>
                            <div class="col-md-4 student-view-btn">
                                <a href="">Student View</a>
                                <a href="" style="background-color:#008ad2; ">Save</a>
                            </div>

                        </div>

                    </div>
                    <hr style="width: 100%;height: 1px; background-color: #ddd; margin-left: 10px;">

                    <div class="component-images">
                        <ul>
                            <app-accordiaon-tabs></app-accordiaon-tabs>

                        </ul>


                    </div>
                    <div class="afiliation">

                        <ul>
                            <li><input type="" name="" id="a-1" placeholder="Exercises name"></li>
                            <li>Exercise<br><span>Time</span> </li>
                            <li>
                                <input type="" name="" id="hour" placeholder="7 Hr">
                            </li>
                            <li>Course<br> <span>Fees</span> </li>
                            <li><input type="" name="" id="fee" placeholder="7 Hr" style="color: red;"></li>
                        </ul>
                    </div>

                    <div class="media-view-content">

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident deserunt mollit anim id est laborum.</p>

                        <div class="media-view-content-image">
                            <img src="assets/images/chapter-1.png">
                            <div class="media-viewcontent-bottom">
                                <h5>Chapter 1: Introduction to the Contemporary World</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation.
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                        <div class="pdf-view">
                            <a href="">
                                <img src="assets/images/pdf.png">
                            </a>
                            <p>PDF name</p>
                        </div>
                    </div>

                    <div class="student-view-btn">
                        <a href="">Student View</a>
                        <a href="" style="background-color:#008ad2; ">Save</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="right-bar">
                        <h4>Content Style</h4>
                        <hr>
                        <app-nav-side-bar></app-nav-side-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
