<div class="login-section">
    <div class="container mr-auto text-center">
        <a href="index.html">
            <img src="assets/img/logo.png" style="margin-top: 25px;">
        </a>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="changePassword-form">
                    <form [formGroup]="changePasswordForm">
                        <!-- <div class="form-group">
                            <label for="email">EMAIL:</label>
                            <input type="email" class="form-control" id="email" placeholder="abc@gmail.com"
                                formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <span class="bx bx-lock"
                                style=" color:gray;margin-left: -35px;font-size: 25px;padding-top: 30px"></span>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                           
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="pwd">NEW PASSWORD:</label>
                            <input type="password" class="form-control" placeholder="******" formControlName="pwd" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }" id="pwd" name="pwd">
                            <span class="bx bx-lock" style="margin-left: -35px; font-size: 25px;padding-top: 45px;"></span>
                            <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
                                <div *ngIf="f.pwd.errors.required">Password is required</div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">CONFIRM PASSWORD</label>
                            <input type="password" class="form-control" placeholder="******" formControlName="confirm_password" id="confirm_password" name="confirm_password" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }"><span class="bx bx-lock"
                                style="margin-left: -35px; font-size: 25px;padding-top: 45px;"></span>
                            <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                <div *ngIf="f.confirm_password.errors.required">Password is required</div>
                                <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                            </div>
                        </div>
                        <button type="submit" class="login-btn" (click)="changePassword()">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>