

.changePassword-form {
    width: 537px;
    margin-top: 50px;
    height: 480px;
    margin-bottom: 25px;
    border-radius: 16px;
    filter: drop-shadow(0 0 29.5px rgba(98,170,244,0.19));
    background-color: #ffffff;
    padding: 25px;
}