<app-side-nav></app-side-nav>

<!-- <div id="dasboard-header" style="padding-bottom: 0">
    <div class="header-menu">
        <div class="col-md-2 dashboard-logo">
            <a routerLink="/teacherDashboard/teachersDashboard"><img src="assets/images/logo.png" alt="Logo" /></a>
        </div>
        <div class="col-md-8 dashborad-menu-right">
            <div class="header-top-menu hd-search-rp">
                <form [formGroup]="searchform">
                    <div role="search" class="dashboard-search-header">
                        <input type="text" placeholder="SEARCH" (keyup.enter)="searchDatas()" formControlName="searchData" class="form-control" name="searchData" id="searchData" />
                        <i class="fa fa-search" (click)="searchDatas()"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2" style="padding: 0">
            <ul class="user-area">
                <li class="markus">
                    <a>{{ user | titlecase }}</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16" style="fill:#000000; font-weight: bold;"> 
                   <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/> </svg> 
                     <p><span>{{wallet}} cent</span></p>                              
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar" src="assets/images/student-profile.jpg">
                    </a>
                </li>
                <li>
                    <a (click)="logout()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="logout-header"><img src="assets/images/icons/power-off.png" />
          </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>   -->
<app-task-editor></app-task-editor>
<div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
        <div class="col-sm-6">
            <div class="page-header">
                <div class="page-title-left">
                    <img src="assets/images/teacher/teacher-icon.png">
                    <h2>Teacher Account</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <div class="page-title-right">
                    <h2>Welcome Back <span>{{user | titlecase}}!</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="page-header">
        <div class="page-title-right">
            Welcome Back <span>{{ user | titlecase }}!</span>
          </h2>
</div>

<!---invite-modal-->

<div id="invite" class="modal fade" role="dialog" #invite>
  <div class="modal-dialog">
    <div class="modal-content">
      <button data-dismiss="modal" class="close">&times;</button>
      <div class="modal-body">
        <div class="invite-popup">
          <h3>Invite Student</h3>
          <hr />
          <form [formGroup]="inviteForm">
            <div class="form-group-1">
              <label for="name">Course Name</label>
              <input type="name" class="form-control" id="courseName" name="courseName" formControlName="courseName"
                placeholder="{{ courseName }}" />
            </div>
            <div class="form-group-1" id="email-controls" [class.disabled]="inviteName && inviteName.length > 0"
              style="width: 95%">
              <ng-container *ngFor="let form of inviteFormData.controls; index as i">
                <ng-container [formGroup]="form">
                  <label for="name">Email Id</label>
                  <input type="name" class="form-control" [attr.disabled]="enabledDisabled ? enabledDisabled : null" (focusout)="setForm($event)" id="email" name="email"
                    formControlName="email" placeholder="GERMAN"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" (keyup)="emailData()" />
                  <span class="fa fa-plus" style="right: -5px;margin-top: -40px;position: absolute;" [class.disabled]="setEmailControl(i)"
                    (click)="AccordionInitialForms(i)">
                  </span>
                  <div *ngIf="form.get('email').hasError('pattern')" style="color: #dc3545; font-size: 12px" padding>
                    *Please enter correct e-mail address
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <p for="name" style="
              margin-top: 10px;
              font-size: 13px;
              text-transform: uppercase;
              margin-block-end: auto;
              color: #65696b;
              padding-bottom: 3px;
            ">
              Bulk Upload (Only .csv file allowed)
            </p>
            <div class="custom-file-wrp" >
              <div class="filename" style="width: 100%;">

                <input type="" formControlName="bulk" placeholder={{inviteName}}>
            </div>
              <div class="custom-file">
                <label for="fileupload"><a class="fa fa-picture-o" style="margin-right: 10px"></a>Browse</label>
                <input type="file" id="fileupload" [attr.disabled]="browseDisabled ? browseDisabled : null" accept=".csv" formControlName="bulk"
                  (change)="audFileSelected($event)" />
              </div>
            </div>
            <p *ngIf="msgShow" style="color: #008ad2">{{ msgShow }}</p>
            <i class="fa fa-trash" aria-hidden="true" (click)="removeSelectedFile()"></i>
            <div class="invite-btn">
              <a (click)="inviteApi()" style="color: #fff">invite</a>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>