.button-actives{
    background-color:#136980;
    /* color: white; */
}
.button-standard{
    background-color: gray;
    /* color: #fff;  */
}

.main-height{
    height:calc(500px + 74px) !important;
    overflow: auto !important;
}
