<div id="dasboard-header" style="padding-bottom: 0;">
    <div class="header-menu">
        <div class="col-md-2 dashboard-logo">
            <a routerLink="/teacherDashboard/teachersDashboard"><img src="assets/images/logo.png" alt="Logo"></a>
        </div>
        <div class="col-md-8 dashborad-menu-right">
            <div class="header-top-menu hd-search-rp">
                <form role="search" class="dashboard-search-header">
                    <input type="text" placeholder="SEARCH" class="form-control " id="search">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </div>
        <div class="col-md-2" style="padding:0;">
            <ul class="user-area">
                <li class="markus" id="side-nav-markus">
                    <a class="context-menu">{{user | titlecase}}</a>
                </li>
                <!-- <li>
                    <a  class="dropdown-toggle context-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span *ngIf="updateNewDataImage==''" class="user-avatar"><img  src="assets\images\teacher-icon.png"></span>
                        <span *ngIf="updateNewDataImage" class="user-avatar"><img [src]="updateNewDataImage" style="width: 34px;"></span>
                    </a>
                </li> -->
                <!-- <li>
                    <a class="dropdown-toggle context-menu" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" *ngIf="updateNewDataImage"> -->

                <li *ngIf="updateNewDataImage!=undefined &&updateNewDataImage.length==0" style="display: block" id="no-image">
                    <a href="#" class="dropdown-toggle" id="defaultImageSide-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar" src="assets/images/icons/student-icon.png">
                    </a>
                </li>
                <!-- <span *ngIf="updateNewDataImage==''" class="user-avatar"><img  src="assets\images\teacher-icon.png"></span> -->
                <li *ngIf="updateNewDataImage!=undefined &&updateNewDataImage.length>10" id="image-exist">
                    <a href="#" class="dropdown-toggle" id="imageExistSide-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar" [src]="updateNewDataImage">
                    </a>
                </li>

                <!-- <span  class="user-avatar"><img [src]="updateNewDataImage" style="width: 34px;"></span> -->
                <!-- </a>
                </li> -->
                <li>
                    <a (click)="logout()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="logout-header"><img src="assets/images/icons/power-off.png"> </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>