<div class="text-style">
    <span>Text Style</span>
    <div class="text-style-box">
        <ul>
            <li> <a href=""><i class="fa fa-align-left"></i></a>
                <a href=""><i class="fa fa-align-center"></i></a>
                <a href=""><i class="fa fa-align-right"></i></a>
                <a href=""><i class="fa fa-bold"></i></a>
                <a href=""><i class="fa fa-italic"></i></a>
                <a href=""><i class="fa fa-underline"></i> </a>
            </li>
            <hr style="width: 100%; background-color: #ddd; height: 1px;margin: 0px;">
            <li>
                <a href=""><i class="fa fa-list-ul"></i> </a>
                <a href=""><i class="fa fa-list-ol"></i> </a>
                <a href=""><i class="fa fa-arrows-v"></i>

            <small>15px</small>

          </a>
                <a href="">
                    <small>15px</small>
                    <i class="fa fa-arrows-h"></i> </a>
            </li>
        </ul>





        <div class="select-fonts">
            <span>Fonts</span> <span style="float: right;margin-right: 35px;">Size</span><br>
            <select class="fonts">
          <option>Arial</option>
          <option>Arial</option>
          <option>Arial</option>
        </select>

            <select class="size">
          <option>10</option>
          <option>20</option>
          <option>30</option>
        </select>
        </div>
        <hr style="width: 100%; background-color: #ddd; height: 1px;margin: 0px;">
        <div class="color">

        </div>
    </div>

</div>
<div class="multimedia-content">
    <p>Multimedia Content</p>
    <hr>
    <ul>
        <li class="active"><a routerLink="/multimedia/insertText">Insert Text<span class="fa fa-text-height"></span></a>
        </li>
        <li><a href="#" data-target="#picture" data-toggle="modal">Picture<span class="fa fa-image"></span></a></li>
        <li><a href="#" data-target="#accordion" data-toggle="modal">Accordion <span class="fa fa-angle-down"></span></a></li>
        <li><a href="#" data-target="#audio-upload" data-toggle="modal">Audio <span class="fa fa-music"></span></a></li>
        <li><a href="#" data-target="#youtube" data-toggle="modal">Youtube links<span class="fa fa-youtube"></span></a></li>
        <li><a href="#" data-target="#other-links-upload" data-toggle="modal">Other Links<span class="fa fa-link"></span></a></li>
        <li><a href="#" data-target="#pdf" data-toggle="modal">Add Pdf<span class="fa fa-file"></span></a></li>
    </ul>
</div>

<!-- youtube links modal -->

<div id="youtube" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <button data-dismiss="modal" class="close">&times;</button>
            <div class="modal-body">
                <div class="youtube-popup">
                    <h4>Embed YouTube Link</h4>
                    <hr><br><br>
                    <div class="form-group">
                        <textarea type="name" class="form-control" id="name" placeholder=" Embed Youtube link" style="height: 100px;"></textarea>
                    </div>
                    <div class="submit">
                        <a routerLink="/multimedia/youtube">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- accordion upload -->
<div id="accordion" class="modal fade " role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button data-dismiss="modal" class="close">&times;</button>
            <div class="modal-body">
                <div class="accordion-popup">
                    <div class="row">
                        <div class="col-md-8 accordion-popup-heading">
                            <h4>Create Accordion</h4>
                            <hr>
                        </div>
                        <div class="col-md-4 add-more">
                            <a href=""><span class="fa fa-plus"></span> Add More</a>
                        </div>
                    </div>

                    <div class="accordions" style="margin-top: 10px;">
                        <div class="row">
                            <div class="col-md-11">

                                <div class="card-1">
                                    <div id="heading" class="card-header-1">
                                        <a href="" data-toggle="collapse" data-target="#accordion-1" aria-expanded="false" aria-controls="accordion-1">Lorem Impus <i class="fa fa-angle-down" style="float: right; font-size: 16px;"></i></a>
                                    </div>
                                    <div id="accordion-1" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End -->
                            </div>
                            <div class="col-md-1">
                                <div class="plus-minus-btn">
                                    <a href="" class="fa fa-minus"></a>
                                </div>
                            </div>

                            <!-- Accordion item 2 -->
                            <div class="col-md-11">
                                <div class="card-1">
                                    <div id="heading" class="card-header-1">
                                        <a href="" data-toggle="collapse" data-target="#accordion-2" aria-expanded="false" aria-controls="accordion-2">Lorem Impus <i class="fa fa-angle-down" style="float: right; font-size: 16px;"></i></a>
                                    </div>
                                    <div id="accordion-2" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End -->
                            </div>
                            <div class="col-md-1">
                                <div class="plus-minus-btn">
                                    <a href="" class="fa fa-minus"></a>
                                </div>
                            </div>
                            <!-- Accordion item 3 -->
                            <div class="col-md-11">
                                <div class="card-1">
                                    <div id="heading" class="card-header-1">
                                        <a href="" data-toggle="collapse" data-target="#accordion-3" aria-expanded="false" aria-controls="accordion-3">
                                    
                                   Lorem Ipsum <i class="fa fa-angle-down" style="float: right; font-size: 16px;"></i>
                               </a>
                                    </div>
                                    <div id="accordion-3" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="plus-minus-btn">
                                    <a href="" class="fa fa-minus"></a>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="card-1">
                                    <div id="heading" class="card-header-1">
                                        <a href="" data-toggle="collapse" data-target="#accordion-4" aria-expanded="false" aria-controls="accordion-4">
                                    Lorem Impus <i class="fa fa-angle-down" style="float: right; font-size: 16px;"></i>
                                </a>
                                    </div>
                                    <div id="accordion-4" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="plus-minus-btn">
                                    <a href="" class="fa fa-minus"></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row"></div>
                    <div class="submit">
                        <a routerLink="/multimedia/accordion">Submit</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- audio upload -->
<div id="audio-upload" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <button data-dismiss="modal" class="close">&times;</button>
            <div class="modal-body">
                <div class="audio-popup">
                    <h4>Upload Audio</h4>
                    <hr><br><br>
                    <p>mp3, mp4 - MAX audio size 100 mb</p>
                    <div class="custom-file-wrp">
                        <div class="filename">
                            <input type="" name="" placeholder="Select Audio">
                        </div>
                        <div class="custom-file">
                            <label for="fileupload"><span class="fa fa-music"></span>Browse</label>
                            <input type="file" id="fileupload" name="" (change)="audFileSelected($event)">
                        </div>

                    </div>
                    <div class="submit">
                        <a routerLink="/multimedia/audio">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pdf upload -->
<div id="pdf" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <button data-dismiss="modal" class="close">&times;</button>
            <div class="modal-body">
                <div class="pdf-popup">
                    <h4>Upload PDF Files</h4>
                    <hr><br><br>
                    <div class="custom-file-wrp">
                        <div class="filename">
                            <input type="" name="" placeholder="Attach Pdf">
                        </div>
                        <div class="custom-file">
                            <label for="fileupload"><span class="fa fa-file"></span>Browse</label>
                            <input type="file" id="fileupload" name="">
                        </div>

                    </div>
                    <div class="submit">
                        <a routerLink="/multimedia/pdf">Submit</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- picture upload -->
<div id="picture" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <button data-dismiss="modal" class="close">&times;</button>
            <div class="modal-body">
                <div class="picture-popup">
                    <h4>Upload Audio</h4>
                    <hr><br><br>
                    <p>mp3, mp4 - MAX audio size 100 mb</p>
                    <div class="custom-file-wrp">
                        <div class="filename">
                            <input type="" name="" placeholder="Choose images ">
                        </div>
                        <div class="custom-file">
                            <label for="fileupload"><span class="fa fa-image"></span>Browse</label>
                            <input type="file" id="fileupload" name="">
                        </div>

                    </div>
                    <div class="submit">
                        <a routerLink="/multimedia/picture">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- others links upload -->
<div id="other-links-upload" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <button data-dismiss="modal" class="close">&times;</button>
            <div class="modal-body">
                <div class="other-links-popup">
                    <h4>Other Links Upload</h4>
                    <hr><br><br>
                    <div class="custom-file-wrp">
                        <div class="filename">
                            <input type="" name="" placeholder="Attach Pdf">
                        </div>
                        <div class="custom-file">
                            <label for="fileupload"><span class="fa fa-link"></span>Browse</label>
                            <input type="file" id="fileupload" name="">
                        </div>

                    </div>
                    <div class="submit">
                        <a routerLink="/multimedia/otherLink">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>