<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div #studentProfileDiv id="right-panel" class="right-panel">
    <div class="breadcrumbs">
        <div class="col-sm-6">
            <div class="page-header float-left">
                <div class="page-title-left">
                    <img src="assets/images/icons/student-icon.png">
                    <h2>Student Account</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header float-right">
                <div class="page-title-right">
                    <h2>Welcome Back <span>{{user | titlecase}}!</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-height">
        <div class="container-fluid">
            <div class="dashboard">
                <div class="student-profile">
                    <form [formGroup]="profileForm">
                        <div class="student-profile-top">
                            <h1>Profile Information</h1>
                            <hr>
                        </div>
                        <div class="col text-center mt-5 mb-5" *ngIf="mainpageLoderOfSave">
                            <i class="fa fa-spinner fa-spin loder-color" style="font-size:50px"></i>
                        </div>
                        <div class="row" *ngIf="!mainpageLoder">
                            <div class="col-md-6 form-group">
                                <label for="name">FIRST NAME</label>
                                <input type="text" class="form-control" id="name" placeholder="FIRST NAME"
                                    id="firstName" name="firstName" formControlName="firstName"
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                    <div *ngIf="f.firstName.errors.pattern">Special Character is Not Allowed </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="lastname">LAST NAME</label>
                                <input type="name" class="form-control" id="lastName" placeholder="LAST NAME"
                                    name="lastName" formControlName="lastName"
                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                    <div *ngIf="f.lastName.errors.pattern">Only Special Character is Not Allowed </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="email">EMAIL ADDRESS</label>
                                <input type="email" class="form-control" id="email" placeholder="EMAIL"
                                    formControlName="email" name="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf=" profileForm.get('email').hasError('pattern')"
                                        style=" color:#dc3545; font-size: 12px;" padding>*Please enter correct e-mail
                                        address
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="number">CONTACT NUMBER </label>
                                <input type="" class="form-control" id="number" placeholder="CONTACT NUMBER"
                                    id="contactNumber" name="contactNumber" formControlName="contactNumber"
                                    [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }">
                                <div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
                                    <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
                                    <div *ngIf="f.contactNumber.errors.pattern">Please input correct phone no.</div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <!-- <label for="country">COUNTRY</label> -->
                                <div class="course-language-dropdown">
                                    <p>COUNTRY</p>
                                    <div class="select-dropdown">
                                        <select formControlName="countrys" (change)="getState()"
                                            [ngClass]="{ 'is-invalid': submitted && f.countrys.errors }">
                                            <option value="" disabled>Country</option>
                                            <option *ngFor="let countryName of this.countryss" [ngValue]="countryName">
                                                {{countryName}}</option>
                                        </select>

                                    </div>
                                    <div *ngIf="submitted && f.countrys.invalid" class="text-danger mt-1">
                                        <div *ngIf="f.countrys.errors.required">
                                            Country is required.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 form-group">
                                <div class="course-language-dropdown">
                                    <p>State</p>
                                    <div class="select-dropdown">
                                        <select formControlName="state"
                                            [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                            <option value="" disabled>State</option>
                                            <option *ngFor="let stateName of this.allStateList"
                                                [ngValue]="stateName.state_name">
                                                {{stateName.state_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="submitted && f.state.invalid" class="text-danger mt-1">
                                    <div *ngIf="f.state.errors.required">
                                        State is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <div class="course-language-dropdown">
                                    <p>KNOWN LANGUAGE

                                    </p>
                                    <div class="select-dropdown-language multiselect-dropdown">
                                        <ng-multiselect-dropdown [placeholder]="'Select Known Language'"
                                            [settings]="dropdownSettings" [data]="knownLanguages"
                                            formControlName="known_language" (onSelect)="onItemsSelect($event)"
                                            (onSelectAll)="onSelectsAll($event)"
                                            [ngClass]="{ 'is-invalid': submit && form.known_language.errors }">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <div *ngIf="submitted && form.known_language.invalid" class="text-danger mt-1">
                                        <div *ngIf="form.known_language.errors.required">
                                            Known Language is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- <label for="known">MAIN LANGUAGE</label> -->
                                <div class="course-language-dropdown">
                                    <p>MAIN LANGUAGE
                                        <span class="required-asterisk">*</span>
                                    </p>
                                    <div class="select-dropdown-language multiselect-dropdown">
                                        <!-- <select formControlName="mainLanguage">
                                            <option value="" disabled>Main Language</option>
                                            <option *ngFor="let data of language" value="{{data.key}}">
                                                {{data.value}}
                                            </option>
                                        </select> -->
                                        <!-- <ng-multiselect-dropdown [placeholder]="'Language'" [settings]="dropdownSettings" [data]="language"
                                         formControlName="main_language"  [ngClass]="{ 'is-invalid': submit && form.main_language.errors }">
                                        </ng-multiselect-dropdown> -->
                                        <ng-multiselect-dropdown [placeholder]="'Select Main Language'"
                                            [settings]="dropdownSettings" [data]="mainLanguages"
                                            formControlName="main_language" (onSelect)="onMainSelect($event)"
                                            (onSelectAll)="onMainSelectAll($event)"
                                            [ngClass]="{ 'is-invalid': submit && form.main_language.errors }">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <div *ngIf="submitted && form.main_language.invalid" class="text-danger mt-1">
                                        <div *ngIf="form.main_language.errors.required">
                                            Language is required.
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="submit && form.main_language.errors" class="invalid-feedback">
                                    <div *ngIf="form.main_language.errors.required">Language is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="prof-user">
                            <div class="display-center left-section">
                                <div class="prof-add">

                                    <div class="circle ">
                                        <!-- <img [src]="imageSrc" *ngIf="imageSrc"> -->
                                        <img class="circular_image center " [src]="updateNewDataImage">
                                        <!-- <div *ngIf="imageSrc" class="btn">No Img</div> -->
                                        <!-- <img [src]="imageSrc" *ngIf="imageSrc">
                                    <img *ngIf="!imageSrc" [src] = "updateNewDataImage"> -->

                                        <label class="fa fa-camera">

                                            <input _ngcontent-qjy-c61="" type="file" (change)="fileChangeEvent($event)"
                                                formControlName="image" class="ng-valid ng-touched ng-dirty"
                                                style="display: none;">

                                        </label>

                                    </div>

                                </div>
                                <div *ngIf="submitted && f.image.invalid" class="text-danger mt-1">
                                    <div *ngIf="f.image.errors.required">
                                        Image is required.
                                    </div>
                                </div>

                            </div>
                            <div class="save-btn" *ngIf="!passwordShow">
                                <button (click)="studentImage()" type="button" id="save">Update Image <i
                                        class="fa fa-spinner fa-spin loder-color" style="font-size:10px"
                                        *ngIf="mainpageLoder"></i></button>
                                <button type="button" id="reset" (click)="reseted()">Reset</button>
                            </div>
                        </div>

                        <div class="account-toggle">
                            <span>Account Deactivate</span>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <p *ngIf="msg" style="color: #0a576c ;text-align: center;"><b>{{msg}}</b></p>
                        <div class="save-btn" *ngIf="!passwordShow">
                            <button type="button" (click)="studentProfile()" id="save">Save</button>
                            <button type="button" id="reset" (click)="reset()">Reset</button>
                        </div>
                    </form>

                    <div class="change-pass">
                        <button id="change-pass-btn" (click)="passwordChange()">Change Password</button>
                        <ng-container *ngIf="passwordShow">
                            <div class="col text-center mt-5 mb-5" *ngIf="mainLoder">
                                <i class="fa fa-spinner fa-spin loder-color" style="font-size:50px"></i>
                            </div>
                            <form [formGroup]="passwordForm">
                                <ng-container *ngIf="!mainLoder">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label for="pass">OLD PASSWORD</label>
                                            <input type="Password" class="form-control" id="pass"
                                                placeholder="OLD PASSWORD" id="oldPassword" name="oldPassword"
                                                formControlName="oldPassword"
                                                [ngClass]="{ 'is-invalid': submit && fn.oldPassword.errors }">
                                            <div *ngIf="submit && fn.oldPassword.errors" class="invalid-feedback">
                                                <div *ngIf="fn.oldPassword.errors.required">Old Password is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label for="pass">NEW PASSWORD</label>
                                            <input type="Password" class="form-control" id="Password"
                                                placeholder="NEW PASSWORD" id="pwd" name="pwd" formControlName="pwd"
                                                [ngClass]="{ 'is-invalid': submit && fn.pwd.errors }">
                                            <div *ngIf="submit && fn.pwd.errors" class="invalid-feedback">
                                                <div *ngIf="fn.pwd.errors.required">Password is required</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label for="pass">CONFIRM PASSWORD</label>
                                            <input type="Password" class="form-control" id="Password"
                                                placeholder="CONFIRM PASSWORD" id="confirm_password"
                                                name="confirm_password" formControlName="confirm_password"
                                                [ngClass]="{ 'is-invalid': submit && fn.confirm_password.errors }">
                                            <div *ngIf="submit && fn.confirm_password.errors" class="invalid-feedback">
                                                <div *ngIf="fn.confirm_password.errors.required">Password is required
                                                </div>
                                                <div *ngIf="fn.confirm_password.errors.confirmedValidator">Password and
                                                    Confirm Password must be match.</div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <p *ngIf="errMsg" style="color: red;text-align: center;"><b>{{errMsg}}</b></p>
                                <p *ngIf="successmsg" style="color: #0a576c ; text-align: center;"><b>{{successmsg}}</b>
                                </p>

                                <div class="save-btn">
                                    <button type="button" id="save" (click)="changePassword()">Change Password</button>
                                    <button type="button" id="reset" (click)="cancelPassword()">Cancel</button>
                                </div>
                            </form>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>