<input type="file" (change)="fileChangeEvent($event)" />
<br />
<br />

<input [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()" />
<button (click)="zoomOut()"> -</button> <button (click)="zoomIn()"> +</button>

<div>
  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
    [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4 / 3" [resizeToWidth]="256"
    [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false" [canvasRotation]="canvasRotation"
    [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png"
    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
    (loadImageFailed)="loadImageFailed()"></image-cropper>
</div>
<img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />