.radio_FreeCourse {
    margin-top: 5px;
    height: 40px;
    display: inline-block;
}

.radio_FreeCourse span {
    font-size: 13px;
    color: #4c4c4c;
    margin-left: 5px;
}

.radio_FreeCourse input[type=radio] {
    position: absolute;
    opacity: 0;
}

.radio_FreeCourse input[type=radio]+.radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #0082ad;
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    margin-right: 5px;
    margin-top: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    color: #4c4c4c;
}

.radio_FreeCourse input[type=radio]:checked+.radio-label:before {
    background-color: #0082ad;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio_FreeCourse input[type=radio]:focus+.radio-label:before {
    outline: none;
    border-color: #3197EE;
}

.radio_FreeCourse input[type=radio]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio_FreeCourse input[type=radio]+.radio-label:empty:before {
    margin-right: 0;
}

.fees-rype {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
}

#monthly-input-box {
    width: 80px;
}

.form-group .select-dropdown-language {
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
}

.invalid-feedback {
    color: #dc3545;
}

.main-wrapper {
    width: auto;
}

.main {
    /* width: 100%; */
    padding: 35px 20px;
    background-color: #f2fbff;
    border-top-left-radius: 45px;
    /* height: calc(500px + 74px) !important; */
    position: relative;
    height: 50%;
}

.main-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.main-wrapper {
    max-width: 100%;
}

.hr-time-picker:after,
.pick-time-now:after {
    content: "";
    clear: both;
}

.hr-time-picker {
    background: transparent;
    max-width: 100%;
}

.hr-time-picker .hr-timer {
    max-width: 103px;
    text-align: center;
    float: left;
    width: 101px;
    background: #fff;
    margin-right: 1%;
}

.picked-time-wrapper {
    margin: 0;
}

.picked-time-wrapper .picked-time {
    padding: 9px;
    border: 1px solid #dedada;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    /* background:url(../images/time-icon.png) 97% no-repeat #fffffd; */
    background-size: 34px;
    cursor: pointer;
    outline: 0;
}

.hr-time-picker .hr-timer .movable-area {
    height: 165px;
    overflow-y: hidden;
    position: relative;
    background: #fff;
    margin-top: 15px;
}

.hr-time-picker .hr-timer.hours ul {
    position: absolute;
    width: 100%;
    top: 0;
}

.hr-time-picker .hr-timer .current-hour,
.hr-time-picker.hr-timer .current-minutes {
    background: #00BCD4;
    color: #fff;
    font-weight: 700;
}

.hr-time-picker .hr-timer.minutes li {
    padding: 6.4px 5px;
}

.hr-time-picker .hr-timer.minutes ul {
    margin-top: 15px;
}

.hr-time-picker .hr-timer li {
    background: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #efeeee;
}

.minutes .hr-timer ul li {
    cursor: pointer;
}

.movable-area ul li {
    cursor: pointer;
}

.hr-time-picker .hr-timer.hours li {
    padding: 7px 10px;
    cursor: pointer;
}

.hr-time-picker:after {
    display: table;
}

.pick-time-now {
    background: #f9f9f9;
    border: 1px solid #efeeee;
    padding: 10px;
    display: none;
    width: 230px;
}

.pick-time-now:after {
    display: table;
}

.time-type {
    font-size: 22px;
    color: #797979;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 4px 0;
    background: #e8e8e8;
}

.arrow-bottom,
.arrow-top {
    font-size: 21px;
    color: #00BCD4;
    font-weight: 700;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 9;
    display: block;
}

.set-time-wrapper {
    clear: both;
    display: none;
}

.dropdown-list ul.item1 {
    display: none !important;
}

.card-accr-1 #accordion-input {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    padding: 8px;
    border-radius: 5px;
}

.teacher-sidebar {
    z-index: 1;
    overflow-x: auto;
    padding: 5px 15px;
}

.teacher-sidebar .sidebar-dropdown {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px !important;
    color: #fff;
    display: block;
    border-radius: 5px;
    font-family: 'Poppins Medium';
    background: none;
    border: none !important;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.teacher-sidebar .sidebar-dropdown i {
    display: none;
}

.loader {
    color: #808080;
    font-size: 9px;
    margin: 0px auto;
    ;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

.faqs-sec {
    margin-top: 20px;
    margin-left: 4px;
}

.faqs-sec .faq-title p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 27px;
    color: #65696b;
    text-transform: uppercase;
    font-weight: 600;
    margin-block-end: auto;
}

.faqs-more {
    display: flex;
    flex-wrap: wrap;
}

.faqs-more .x-remove img.xr-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    top: 7px;
}

.faqs-more .card-1 {
    width: 98%;
    margin-right: -5px;
}

.faqs-more #faq-accordn {
    width: 98% !important;
}

::ng-deep .multiselect-dropdown .dropdown-btn {
    color: black
}
.faqs-more #accordion-textarea {
    width: 98% !important;
}

.faqs-more .x-remove img.xr-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    top: 7px;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
}

input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    margin: -10px;
}

.time-du .time-in {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.fa-angle-down {
    float: right;
    padding: 6px;
    margin-top: -32px;
}

.time-in input {
    width: 20%;
    height: 45px;
    border: 2px solid rgba(51, 42, 124, 0.08);
}

.time-du .time-in span {
    padding: 0 7px;
    text-transform: lowercase;
    font-size: 14px;
}