<app-side-nav></app-side-nav>
<app-task-editor></app-task-editor>
<div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
        <div class="col-sm-6">
            <div class="page-header">
                <div class="page-title-left">
                    <img src="assets/images/teacher/teacher-icon.png">
                    <h2>Teacher Account</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <div class="page-title-right">
                    <h2>Welcome Back <span>{{user | titlecase}}!</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container-fluid">
            <div class="dashboard">
                <div class="add-new-course-heading">
                    <h1 *ngIf="addButton">Add New Course</h1>
                    <h1 *ngIf="editButoon">Edit Course</h1>

                    <hr>
                </div>
                <div class="col text-center mt-5 mb-5" *ngIf="mainpageLoder ">
                    <i class="fa fa-spinner fa-spin loder-color" style="font-size:50px"></i>
                </div>
                <form [formGroup]="addCourseForm" *ngIf="!mainpageLoder">
                    <div class="add-new-course">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <p>COURSE NAME
                                    <span class="required-asterisk">*</span>
                                </p>
                                <input type="name" placeholder="Enter Course Name" id="courseName" name="courseName" formControlName="courseName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.courseName.errors }">
                                <div *ngIf="submitted && f.courseName.errors" class="invalid-feedback">
                                    <div *ngIf="f.courseName.errors.required">Course Name is required</div>
                                    <!-- <div *ngIf="f.email.errors.maxlength">User name should be only 25 characters</div> -->
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <p for="name">LEVEL
                                    <span class="required-asterisk">*</span>
                                </p>
                                <div class="select-dropdown">
                                    <select name="combo box" formControlName="level" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.level.errors }">
                                        <option value="" disabled>Choose Level</option>
                                        <option *ngFor="let data of level" value="{{data.id}}">{{data.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.level.errors" class="invalid-feedback">
                                        <div *ngIf="f.level.errors.required">Level is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <p for="language">LANGUAGE
                                    <span class="required-asterisk">*</span>
                                </p>
                                <div class="select-dropdown">
                                    <!-- <select formControlName="language" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.language.errors }">
                                        <option value="" disabled>Language</option>
                                        <option *ngFor="let data of language" value="{{data.key}}">
                                            {{data.value}}
                                        </option>
                                    </select> -->
                                    <ng-multiselect-dropdown [placeholder]="'Language'" [settings]="dropdownSettings" [data]="language" formControlName="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" [ngClass]="{ 'is-invalid': submitted && f.selectedItems.errors }">
                                    </ng-multiselect-dropdown>
                                </div>
                                <div *ngIf="submitted && f.selectedItems.invalid" class="text-danger mt-1">
                                    <div *ngIf="f.selectedItems.errors.required">
                                        Language is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <p for="language">TEACHING LANGUAGE
                                    <span class="required-asterisk">*</span>
                                </p>
                                <div class="select-dropdown">
                                    <ng-multiselect-dropdown [placeholder]="'Language'" [settings]="dropdownSettings" [data]="language" formControlName="teachingLanguage" (onSelect)="onTeacherSelect($event)" [ngClass]="{ 'is-invalid': submitted && f.teachingLanguage.errors }">
                                    </ng-multiselect-dropdown>
                                </div>
                                <div *ngIf="submitted && f.teachingLanguage.invalid" class="text-danger mt-1">
                                    <div *ngIf="f.teachingLanguage.errors.required">
                                        Teaching Language is required.
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 form-group">
                                <p for="course">COURSE TYPE
                                    <span class="required-asterisk">*</span>
                                </p>
                                <div class="select-dropdown">
                                    <select name="combo box" class="form-control" formControlName="courseType" (change)="showValue($event)" [ngClass]="{ 'is-invalid': submitted && f.courseType.errors }">
                                        <!-- <option value="Combo Box" disabled></option> -->
                                        <option value="" disabled>Course Type</option>
                                        <option value="public">Public</option>
                                        <option value="closed">Closed</option>
                                    </select>
                                    <div *ngIf="submitted && f.courseType.errors" class="invalid-feedback">
                                        <div *ngIf="f.courseType.errors.required">Course Type is required</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6"></div> -->
                            <div class="col-md-6 course-free" *ngIf="courseFee">
                                <p>COURSE FEES</p>
                                <div class="radio_FreeCourse">
                                    <input id="radio-2" type="radio" formControlName="radio" id="radio" name="radio" value="monthly" (click)="showInput($event)">
                                    <label for="radio-2" class="radio-label"><span
                                            style="margin-right: 5px;">Monthly</span></label>

                                </div>
                                <div class="radio_FreeCourse">
                                    <input id="free" type="radio" formControlName="radio" id="radio" name="radio" value="free" (click)="showInput($event)">
                                    <label for="free" class="radio-label"><span>Free</span></label>
                                </div>
                                <div class="fees-rype">
                                    <input type="course type" id="monthly-input-box" class="form-control" formControlName="radio" id="radio" name="radio" placeholder="€" *ngIf="feeBox" [ngClass]="{ 'is-invalid': submitted && f.radio.errors }">
                                    <div *ngIf="submitted && f.radio.errors" class="invalid-feedback">
                                        <div *ngIf="f.radio.errors.pattern">Number Only</div>
                                    </div>
                                    <div *ngIf="submitted && f.radio.errors" class="invalid-feedback">
                                        <div *ngIf="f.radio.errors.required">Currency is required</div>
                                        <!-- <div *ngIf="f.email.errors.maxlength">User name should be only 25 characters</div> -->
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 course-fees" *ngIf="teacherFees">
                                <p for="course">course Fee for Teachers</p>
                                <div class="radio_FreeCourse">
                                    <input id="free-1" formControlName="radio" type="radio" id="radio" name="radio" value="50 cent" (click)="showInput($event)">
                                    <label for="free-1" class="radio-label"><span>50 Cent / Student /
                                            Month</span></label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- </div> -->
                    <div class="time-du">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <p for="course">Time Duration
                                    <span class="required-asterisk">*</span>
                                </p>
                                <div class="time-in">
                                    <input type="number" id="timeDurationHr" name="timeDurationHr" min="01" max="500" formControlName="timeDurationHr" [ngClass]="{ 'is-invalid': submitted && f.timeDurationHr.errors }">
                                    <span>hrs</span>
                                    <div *ngIf="submitted && f.timeDurationHr.errors" class="invalid-feedback">
                                        <div *ngIf="f.timeDurationHr.errors.required">Time Duration is required</div>
                                    </div>
                                    <input type="number" id="timeDurationMin" name="timeDurationMin" min="01" max="60" formControlName="timeDurationMin" [ngClass]="{ 'is-invalid': submitted && f.timeDurationMin.errors }">
                                    <span>min</span>
                                    <div *ngIf="submitted && f.timeDurationMin.errors" class="invalid-feedback">
                                        <div *ngIf="f.timeDurationMin.errors.required">Time Duration is required</div>
                                    </div>
                                </div>
                                <!-- <input type="time" formControlName="timeDuration" id="time" class="form-control without_ampm "
                                    value="Time Duration"
                                    [ngClass]="{ 'is-invalid': submitted && f.timeDuration.errors }">
                                <div *ngIf="submitted && f.timeDuration.errors" class="invalid-feedback">
                                    <div *ngIf="f.timeDuration.errors.required">Time Duration is required</div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="course-description">
                        <p>Course Description
                            <span class="required-asterisk">*</span>
                        </p>
                        <div class="course-des-content">
                            <ckeditor [config]="editorConfig1" [editor]="Editor" formControlName="otherLinkTextDescription" id="otherLinkTextDescription" name="otherLinkTextDescription" type="divarea">
                            </ckeditor>
                        </div>
                    </div>
                    <div class="loader" *ngIf="loder"></div>
                    <ng-container formArrayName="employees">
                        <ng-container *ngFor="let employee of employees().controls; let empIndex=index">
                            <div class="course-title" [formGroupName]="empIndex">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <p>Title {{empIndex + 1}}
                                            <span class="required-asterisk">*</span>
                                        </p>
                                        <input type="hidden" formControlName="titleid" id="titleid" name="titleid">
                                        <input type="course type" class="form-control" formControlName="title" id="title" name="title" placeholder="Title" [ngClass]="{ 'is-invalid': employee.get('title').hasError('required') && submitted}">
                                        <div class="fieldRequired" *ngIf="employee.get('title').hasError('required') && submitted" style="font-size: 10px;
                                           color: #ec3232; font-size: 13px; ">
                                            Title is required.
                                        </div>
                                    </div>
                                    <div class="sub-title-remove col-md-2">
                                        <button type="button" id="sub-title-remove-btn" (click)="deleteTitles(empIndex)">Remove</button>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row">
                                    <ng-container formArrayName="sub_title">
                                        <div class="col-md-6 form-group" *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index" [formGroupName]="skillIndex">
                                            <p>Sub Menu {{skillIndex + 1}}
                                                <span class="required-asterisk">*</span>
                                            </p>
                                            <input type="hidden" formControlName="submenuId" name="submenuId" id="submenuId">
                                            <input type="sub-menu" class="form-control" formControlName="sub_title" name="sub_title" id="sub_title" placeholder="Sub Menu" [ngClass]="{ 'is-invalid': skill.get('sub_title').hasError('required') && submitted}">
                                            <div class="fieldRequired" *ngIf="skill.get('sub_title').hasError('required') && submitted" style="font-size: 10px;
                                               color: #ec3232; font-size: 13px; ">
                                                Sub Title is required.
                                            </div>
                                            <div class="sub-title-remove" *ngIf="deleteBttons">
                                                <img src="assets/images/icons/x-button.png" class="x-button" (click)="deleteSubTitles(empIndex,skillIndex)">
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="sub-title">
                                <button type="button" id="sub-title-btn" (click)="addEmployeeSkill(empIndex)"><span
                                        class="fa fa-plus"></span>Add Sub title</button>
                            </div>
                        </ng-container>
                    </ng-container>

                    <div class="addmore">
                        <button type="button" id="addmore-btn" (click)="addInitialForm()"><span
                                class="fa fa-plus"></span>Add More Title</button>
                    </div>

                    <div class="faqs-sec">
                        <div class="faq-title">
                            <p>FAQ</p>
                        </div>
                        <div formArrayName="faq">
                            <div class="faq-row" *ngFor="let faqData of faq().controls; let faqIndex=index">
                                <ng-container [formGroupName]="faqIndex">
                                    <input type="hidden" formControlName="id" id="id" name="id">
                                    <div class="faqs-more">
                                        <div class="card-1">
                                            <div id="faq-accordn" class="card-accr-1">
                                                <a href="" [attr.data-target]="'#collapesDetail0' + faqIndex" data-toggle="collapse" data-target="#collapesDetail0" aria-expanded="false" aria-controls="accordion-1" class="collapsed">
                                                    <input type="text" id="accordion-input" class="form-control" id="title" name="title" formControlName="title" style="border: 0;">
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            </div>
                                            <div id="collapesDetail0" [attr.id]="'collapesDetail0' + faqIndex" aria-labelledby="headingOne" data-parent=".card-1" class="collapse">
                                                <div class="card-body-2">
                                                    <textarea id="accordion-textarea" formControlName="text" id="text" name="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && faqData.get('text').errors }"></textarea>
                                                    <div *ngIf="submitted && faqData.get('text').invalid" class="text-danger mt-1">
                                                        <div *ngIf="faqData.get('text').errors.required">
                                                            Text is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-remove" (click)="removeFaq(faqIndex)"><img _ngcontent-cda-c64="" src="assets/images/icons/x-button.png" class="xr-btn"></div>
                                    </div>

                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="add-faq">
                        <div class="addmore"><button type="button" id="addmore-btn" (click)="addFaq()"><span class="fa fa-plus"></span>Add More FAQ</button></div>
                    </div>
                    <div class="save-btn-1">
                        <button id="save-btn" (click)="submit()" style="color: #fff;">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>