.sidenav .dropdown-btn i{
    display: none;
}
 
.sidenav .subt-dropdown{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px!important;
    color: #fff;
    display: block;
    border-radius: 0;
    font-family: 'Poppins Medium';
    background: none;
    background-color: #1C72A1;
    border: none !important;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 28px;
}
 
.sidenav .subt-dropdown:active{
    color: #ffff;
    background-color: #3c96cc;
}
 
.sidenav .subt-dropdown:hover{
    color: #ffff;
    background-color: #3c96cc;
}
 
.sidenav .title-dropdown{
 padding: 6px 8px 6px 16px;
 text-decoration: none;
 font-size: 14px!important;
 color: #fff;
 display: block;
 border-radius: 0;
 font-family: 'Poppins Medium';
 background: none;
 background-color: #0a576c;
 border: none !important;
 width: 100%;
 text-align: left;
 text-overflow: ellipsis;
 overflow: hidden;
 margin-top: .4em;
}
 

 
/* .sidenav .title-dropdown:hover{
    color: #ffff;
    background-color: #3c96cc;
} */

.sidenav .dropdown-btn:active{
    color: #ffff;
    background-color: #3c96cc;
}
.dashboard-custom a {
    color: #fff !important;
    background-color: #739CB2 !important;
    border-radius: 0;
    padding-left: 28px;
    font-size: 12px !important;
    font-family: 'Poppins Medium';
    border: none !important;
    width: 100%;
    text-align: left;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
 
/* .dashboard-custom a:hover {
    background-color: #3c96cc !important;
} */
.dashboard-custom a:visited {
    background-color: #3c96cc !important;
}