
<app-side-nav></app-side-nav>
<app-task-editor></app-task-editor>

<div id="right-panel" class="right-panel">
  <div class="breadcrumbs">
    <div class="col-sm-6">
      <div class="page-header">
        <div class="page-title-left">
          <img src="assets/images/teacher/teacher-icon.png">
          <h2>Teacher Account</h2>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="page-header">
        <div class="page-title-right">
          <h2>Welcome Back <span>{{user | titlecase}}!</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-height">
    <div class="container-fluid">
      <div class="dashboard">
        <div class="accept-course-top">
          <div class="row">
            <h1>Accept Student</h1>
            <hr>
          </div>

        </div>
        <div class="col text-center mt-5 mb-5" *ngIf="mainpageLoder ">
          <i class="fa fa-spinner fa-spin loder-color" style="font-size:50px"></i>
        </div>
        <p *ngIf="msgShow" style="color: red; text-align: center; font-weight: bold;">{{msgShow}}</p>

        <ng-container *ngFor="let data of courseData">
          <div class="accept-course" *ngIf="!msgShow">

            <div class="row">
              <div class="col-md-10">
                <div class="accept-data">
                  <table>
                    <tr>
                      <td>COURSE ID : <span>{{data.courseid}}</span></td>
                      <td style="border-right: transparent;">Student Enrolled : <span>{{data.total_enroll}}</span></td>
                    </tr>
                    <tr>
                      <td>Student Name: <span>{{data.student_name}} </span></td>
                      <td style="border-right: transparent;">Student Email Id : <span>{{data.student_emailid}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="color: #136980;font-weight: 600; text-transform: uppercase; border-bottom: transparent;">
                        Course Fees :<strong>{{data.coursefee}}</strong></td>
                      <td style="border-bottom: transparent; border-right: transparent;">
                        <small>{{data.rating}}</small>
                        <ng-container *ngIf="data?.rating === '1'">
                          <i class="fa fa-star" style="color:#ff4545 !important;"></i>
                      </ng-container>
                      <ng-container *ngIf="data?.rating === '0'">
                        <i class="fa fa-star-half-o" style="color:#ff4545 !important;"></i>
                      </ng-container>
                      <ng-container *ngIf="data?.rating === '1.5'">
                          <i class="fa fa-star" style="color:#ffa534 !important;"></i>
                          <i class="fa fa-star-half-o" style="color:#ffa534 !important;"></i>
                      </ng-container>
                      <ng-container *ngIf="data?.rating === '2'">
                          <i class="fa fa-star" style="color:#ffa534 !important;"></i>
                          <i class="fa fa-star" style="color:#ffa534 !important;"></i>
                      </ng-container>
                      <ng-container *ngIf="data?.rating === '2.5'">
                          <i class="fa fa-star" style="color:#ffe234 !important;"></i>
                          <i class="fa fa-star" style="color:#ffe234 !important;"></i>
                          <i class="fa fa-star-half-o" style="color:#ffe234 !important;"></i>
                      </ng-container>
                      <ng-container *ngIf="data?.rating === '3'">
                          <i class="fa fa-star" style="color:#ffe234 !important;"></i>
                          <i class="fa fa-star" style="color:#ffe234 !important;"></i>
                          <i class="fa fa-star" style="color:#ffe234 !important;"></i>
                      </ng-container>
                      <ng-container *ngIf="data?.rating === '3.5'">
                          <i class="fa fa-star" style="color:#b7dd29 !important;"></i>
                          <i class="fa fa-star" style="color:#b7dd29 !important;"></i>
                          <i class="fa fa-star" style="color:#b7dd29 !important;"></i>
                          <i class="fa fa-star-half-o" style="color:#b7dd29 !important;"></i>

                      </ng-container>
                      <ng-container *ngIf="data?.rating === '4'">
                          <i class="fa fa-star" style="color:#b7dd29 !important;"></i>
                          <i class="fa fa-star" style="color:#b7dd29 !important;"></i>
                          <i class="fa fa-star" style="color:#b7dd29 !important;"></i>
                          <i class="fa fa-star" style="color:#b7dd29 !important;"></i>
                      </ng-container>
                      <ng-container *ngIf="data?.rating === '4.5'">
                          <i class="fa fa-star" style="color:#57e32c !important;"></i>
                          <i class="fa fa-star" style="color:#57e32c !important;"></i>
                          <i class="fa fa-star" style="color:#57e32c !important;"></i>
                          <i class="fa fa-star-half-o" style="color:#57e32c !important;"></i>
                      </ng-container>
                      <ng-container *ngIf="data?.rating === '5'">
                          <i class="fa fa-star" style="color:#57e32c !important;"></i>
                          <i class="fa fa-star" style="color:#57e32c !important;"></i>
                          <i class="fa fa-star" style="color:#57e32c !important;"></i>
                          <i class="fa fa-star" style="color:#57e32c !important;"></i>
                          <i class="fa fa-star" style="color:#57e32c !important;"></i>
                      </ng-container>
                      <a style="color: grey;">({{data.review_count}})</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-md-2">
                <button type="button" id="approve" (click)="getApprove(data.id,i)"
                  *ngIf="data.accept_status === 'Pending'"><span>
                    &#10003;</span>approve</button>
                <button type="button" id="approve" *ngIf="data.accept_status === 'Accept'"><span>
                    &#10003;</span>approved</button>
                <button type="button" id="reject" (click)="getReject(data.id)"><span
                    class="reject-close">&#10005;</span>reject</button>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="container-fluid" *ngIf="!msgShow">
          <div class="pages">
            <div class="row" *ngIf="buttonShow">
              <div class="col-md-2">
                <div class="prev-btn">
                  <a (click)="direction(0)" style="color: #fff;">PREV</a>
                </div>
              </div>
              <div class="col-md-8">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                    </li>
                    <li class="page-item" *ngFor="let data of totalPages; index as i" (click)="getCourseData(data,i)"><a
                        class="page-link" style="color: #fff;"
                        [ngClass]="[i == buttonColor ? 'button-actives':'button-standard']">{{data}}</a></li>
                    <!-- <li class="page-item"><a class="page-link" href="#">2</a></li> -->
                  </ul>
                </nav>
              </div>
              <div class="col-md-2">
                <div class="next-button">
                  <a (click)="direction(1)" style="color: #fff;">NEXT</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>